.airplane {
    top: 180px;
    left: 40%;
    position: fixed;
    z-index: -1; /* move airplane behind other elements on the page */
    overflow-x: hidden;
    animation: fly 16s linear infinite;
    
    
  }
  
  .airplane img {
    filter: grayscale(100%);
  }
  
  @keyframes fly {
    0% {
      transform: translateX(700%);
    }
    85% {
      transform: translateX(-700%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
  
 
  
  .flame {
    top: -40px;
    left: 150px;
    height: 10px;
    width: 60px;
    position: relative;
    border-radius: 50%;
    background-color: #8f2a2a;
    animation: flame 0.3s linear infinite;
    z-index: -1;
  }
  .flame2 {
    top: -195px;
    left: 115px;
  }
  @keyframes flame {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  